@import './colors';

.form-group {
    position: relative;
    .form-control {
        height: 44px;
        font-size: 14px;
        border: 1px solid #E4E8EA;
        &:focus {
            border-color: $purple-color;
            box-shadow: none;
        }
        &::placeholder {
            font-size: 12px;
            color: #79828B;
        }
    }
    .custom-select {
        height: 44px;
        font-size: 12px;
        color: #79828B;
        background: transparent url("/../../assets/images/down.svg") right center no-repeat;
        background-position-x: 97%;
        border: 1px solid #E4E8EA;
        &:focus {
            border-color: $purple-color;
            box-shadow: none;
        }
    }
}
label {
    color: $purple-color;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 767px) {
    form {
        .form-group {
            margin-bottom: 20px;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}